.cat__wrapper {
  padding-top: 42px;
}

.cat__img-thin {
  display: none;
}

.cat__wrapper-slide {
  display: flex;
  justify-content: space-around;
}

.cat__button {
  font-family: $Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background: none;
  border: none;
  padding: 5px 5px;
}

@media (min-width: $tablet-width) {
  .cat__img-thin {
    display: inline-block;
  }

  .cat__container {
    position: relative;
    margin: 0 auto;
    margin-top: 150px;
    width: 768px;
    height: 462px;
    background-color: #eaeaea;
  }

  .cat__wrapper {
    position: absolute;
    overflow: hidden;
    margin-top: -172px;
  }

  .cat__wrapper-fat {
    margin-left: 15px;
    z-index: 2;
    width: 339px;
  }

  .cat__button {
    padding: 0;
  }

  .cat__wrapper-thin {
    margin-left: 106px;
    z-index: 1;
  }

  .cat__wrapper-slide {
    padding-top: 388px;
  }

  .cat__scale {
    width: 428px;
    height: 6px;
    padding: 0;
    background-color: #dcdcdc;
    margin-top: 8px;
  }

  .cat__button-scale {
    position: absolute;
    width: 34px;
    height: 34px;
    border: 11px solid $white;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
    background-color: $basic_green;
    margin-top: -14px;
    margin-left: 172px;
  }
}

@media (min-width: $desktop-width) {
  .cat__wrapper-slide {
    margin-top: 466px;
  }

  .cat__button {
    z-index: 1;
  }
}
