.catalog-heading {
  font-family: $Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: $black;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .catalog-heading {
    font-size: 60px;
    line-height: 60px;
    padding-left: 30px;
  }
}
