.contacts {
  display: flex;
  padding-left: 20px;
  padding-top: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.contacts__title {
  font-family: $Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  color: #111111;
}

.contacts__address {
  font-family: $Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #444444;
}

.contacts__map {
  border: 0;
  width: 320px;
  height: 365px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .contacts {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .contacts__title {
    width: 20%;
    font-size: 20px;
    line-height: 21px;
    margin-top: 65px;
    margin-bottom: 62px;
    margin-left: 71px;
  }

  .contacts__address {
    width: 25%;
    margin-top: 65px;
    margin-bottom: 62px;
    font-size: 16px;
    margin-right: 71px;
    text-align: right;
  }

  .contacts__map {
    width: 768px;
    height: 400px;
  }
}
