.contacts {
  display: flex;
  padding-left: 20px;
  padding-top: 20px;
  align-items: center;
}

.contacts__title {
  font-family: $Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  color: #111111;
}

.contacts__address {
  font-family: $Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .contacts {
    height: 201px;
    display: flex;
    justify-content: space-between;
  }

  .contacts__title {
    width: 20%;
    font-size: 20px;
    line-height: 21px;
    margin-top: 66px;
    margin-left: 9.2%;
  }

  .contacts__address {
    width: 25%;
    padding-top: 62px;
    font-size: 16px;
    margin-right: 9.2%;
    text-align: right;
  }
}
