.definition__title {
  font-family: $Oswald;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  margin-left: 20px;
}

.definition__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.definition__item {
  list-style: none;
  position: relative;
  font-family: $Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  margin-left: 31.25%;
}

.definition__item--leaf::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../img/leaf.svg");
  background-repeat: no-repeat;
  left: 20px;
}

.definition__item--powder::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../img/powder.svg");
  background-repeat: no-repeat;
  left: 20px;
}

.definition__item--fork::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../img/fork.svg");
  background-repeat: no-repeat;
  left: 20px;
}

.definition__item--clock::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../img/clock.svg");
  background-repeat: no-repeat;
  left: 20px;
}

@media (min-width: $tablet-width) {
  .definition__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .definition__item {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    margin-left: 30px;
    margin-top: 72px;
  }

  .definition__item p {
    z-index: 1;
  }

  .definition__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 122px;
    margin-top: 165px;
  }

  .definition__item--leaf {
    width: 64.48%;
    grid-column: 1;
    grid-row: 1;
    justify-content: flex-end;


    &::before {
      content: "";
      position: absolute;
      width: 80px;
      height: 80px;
      background-image: url("../img/leaf-tablet.svg");
      background-repeat: no-repeat;
      left: 1px;
      bottom: 111px;
    }

    &::after {
      content: "1";
      position: absolute;
      color: $basic_grey;
      font-family: $Oswald;
      font-style: normal;
      font-weight: normal;
      font-size: 280px;
      line-height: 280px;
      bottom: -37px;
      margin-left: 121px;
    }
  }
}

.definition__item--powder {
  width: 71.74%;
  grid-column: 2;
  grid-row: 1;
  justify-content: flex-end;
  margin-top: 0;

  &::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url("../img/powder-tablet.svg");
    background-repeat: no-repeat;
    left: 1px;
    bottom: 111px;
  }

  &::after {
    content: "2";
    position: absolute;
    color: $basic_grey;
    font-family: $Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 280px;
    line-height: 280px;
    bottom: -37px;
    margin-left: 121px;
  }
}

.definition__item--fork {
  width: 72.88%;
  grid-column: 1;
  grid-row: 2;
  justify-content: flex-end;
  margin-top: 72px;

  &::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url("../img/fork-tablet.svg");
    background-repeat: no-repeat;
    left: 1px;
    bottom: 111px;
  }

  &::after {
    content: "3";
    position: absolute;
    color: $basic_grey;
    font-family: $Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 280px;
    line-height: 280px;
    bottom: -37px;
    margin-left: 121px;
  }
}

.definition__item--clock {
  width: 71.16%;
  grid-column: 2;
  grid-row: 2;
  justify-content: flex-end;
  margin-top: 0;

  &::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url("../img/clock-tablet.svg");
    background-repeat: no-repeat;
    left: 1px;
    bottom: 111px;
  }

  &::after {
    content: "4";
    position: absolute;
    color: $basic_grey;
    font-family: $Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 280px;
    line-height: 280px;
    bottom: -37px;
    margin-left: 121px;
  }
}

@media (min-width: $desktop-width) {
  .definition__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
    margin-bottom: 110px;
  }

  .definition__item--leaf {
    justify-content: center;
    grid-column: 1;
    grid-row: 1;
    width: 201px;

    &::before {
      bottom: 155px;
    }

    &::after {
      margin-left: 100px;
      bottom: -4px;
    }
  }

  .definition__item--powder {
    justify-content: center;
    grid-column: 2;
    grid-row: 1;
    width: 227px;

    &::before {
      bottom: 155px;
    }

    &::after {
      margin-left: 100px;
      bottom: -4px;
    }
  }

  .definition__item--fork {
    justify-content: center;
    grid-column: 3;
    grid-row: 1;
    width: 209px;
    margin-top: 0;

    &::before {
      bottom: 155px;
    }

    &::after {
      margin-left: 100px;
      bottom: -4px;
    }
  }

  .definition__item--clock {
    justify-content: center;
    grid-column: 4;
    grid-row: 1;
    width: 245px;

    &::before {
      bottom: 155px;
    }

    &::after {
      margin-left: 100px;
      bottom: -4px;
    }
  }
}
