.definition__title {
  font-family: $Oswald;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  margin-left: 20px;
}

.definition__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.definition__item {
  list-style: none;
  font-family: $Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  margin-left: 31.25%;
}

.definition__item--leaf::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../img/leaf.svg");
  background-repeat: no-repeat;
  left: 20px;
}

.definition__item--powder::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../img/powder.svg");
  background-repeat: no-repeat;
  left: 20px;
}

.definition__item--fork::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../img/fork.svg");
  background-repeat: no-repeat;
  left: 20px;
}

.definition__item--clock::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../img/clock.svg");
  background-repeat: no-repeat;
  left: 20px;
}

@media (min-width: $tablet-width) {
  .definition__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .definition__item {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 30px;
    margin-top: 72px;
  }

  .definition__list {
    font-size: 16px;
    line-height: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .definition__item--leaf {
    width: 47.48%;
    grid-column: 1;
    grid-row: 1;
    justify-content: flex-end;

    &::before {
      width: 80px;
      height: 80px;
      left: 1px;
      bottom: 111px;
    }
  }

  .definition__item--powder {
    width: 50.74%;
    grid-column: 2;
    grid-row: 1;
    justify-content: flex-end;

    &::before {
      width: 80px;
      height: 80px;
      left: 1px;
      bottom: 111px;
    }
  }

  .definition__item--fork {
    width: 47.88%;
    grid-column: 1;
    grid-row: 2;
    justify-content: flex-end;
    margin-top: 165px;

    &::before {
      width: 80px;
      height: 80px;
      left: 1px;
      bottom: 111px;
    }
  }

  .definition__item--clock {
    width: 51.16%;
    grid-column: 2;
    grid-row: 2;
    justify-content: flex-end;

    &::before {
      width: 80px;
      height: 80px;
      left: 1px;
      bottom: 111px;
    }
  }
}

@media (min-width: $desktop-width) {
  .definition__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
  }

  .definition__item--leaf {
    grid-column: 1;
    grid-row: 1;
    width: 201px;
  }

  .definition__item--powder {
    grid-column: 2;
    grid-row: 1;
    width: 227px;
  }

  .definition__item--fork {
    grid-column: 3;
    grid-row: 1;
    width: 209px;
  }

  .definition__item--clock {
    grid-column: 4;
    grid-row: 1;
    width: 245px;
  }
}
