.example {
  width: 100%;
  margin: 0 auto;
  background-color: #eaeaea;
  padding-top: 27px;
  padding-bottom: 27px;
}

.example__container {
  width: 280px;
  margin: 0 auto;
}

.example__title {
  font-family: $Oswald;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  margin-top: 0;
}

.example__paragraph {
  font-family: $Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

.example__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.example__wrapper-item {
  width: 38.75%;
}

.example__heading {
  font-family: $Oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.example__text {
  font-family: $Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
}

.example__cost {
  font-family: $Oswald;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: $white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    grid-column: 1 / 3;
    grid-row: 1;
    padding-left: 30px;
  }

  .example__wrapper {
    grid-column: 1 / 3;
  }

  .example__container {
    width: 708px;
    margin: 0 auto;
  }

  .example__wrapper-item {
    width: 22.88%;
    grid-column: 1;
    grid-row: 1 / 1;
  }

  .example__wrapper-span {
    margin-right: 4%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
  }

  .example__paragraph {
    font-family: $Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding: 0;
    grid-column: 1 / 3;
    grid-row: 2;
    padding-left: 30px;
  }

  .example__cost {
    text-align: right;
    margin-bottom: 0;
  }

  .exampele__value {
    margin-top: 0;
  }

  .example__img {
    grid-column: 1 / 3;
    grid-row: 4 / 6;
  }
}

@media (min-width: $desktop-width) {
  .example {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    background-color: #f2f2f2;
    padding-top: 0;
    padding-bottom: 0;
  }

  .example__container {
    width: auto;
    padding-left: 110px;
  }

  .example__title {
    grid-column: 1;
    grid-row: 1;
    padding-top: 69px;
    margin: 0;
  }

  .example__paragraph {
    grid-column: 1;
    margin-top: 147px;
  }

  .example__text {
    grid-column: 1;
    grid-row: 2;
  }

  .example__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 1 / 2;
  }

  .example__wrapper-item {
    width: auto;
  }

  .example__wrapper-span {
    flex-direction: row;
    flex: none;
    display: flex;
    justify-content: center;
    grid-column: 1;
  }

  .example--weight {
    grid-column: 1;
    grid-row: 1;
    padding-left: 179px;
  }

  .example--day {
    grid-column: 2;
    grid-row: 1;
  }

  .exampele__value {
    margin-top: 13px;
  }

  .example__cost {
    margin-right: 92px;
  }

  .example__img {
    width: auto;
    grid-column: 2;
    grid-row: 1 / 4;

    &::before {
      content: "";
      position: absolute;
      width: 405px;
      height: 539px;
      background-image: url("../img/cat-desktop.png");
      margin-top: -31px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 395px;
      height: 570px;
      background-image: url("../img/after-desktop.png");
      margin-left: 366px;
      margin-top: -570px;
    }
  }
}
