.main-nav {
  background-color: $white;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    justify-content: flex-end;
  }

  .main-nav__wrapper {
    width: 460px;
    margin-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 478px;
    z-index: 1;
    margin-right: 0;
  }
}
