.main-nav {
  background-color: $white;
  width: 100%;
  z-index: 2;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    justify-content: flex-end;
  }

  .main-nav__wrapper {
    margin-right: 3.77%;
    margin-top: 42px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    position: absolute;
    z-index: 1;
    margin-right: 110px;
    margin-top: 69px;
  }
}
