.page-header {
  background-color: $white;
  padding-top: 5px;
  padding-left: 3.57%;
}

.page-header__logo-text {
  width: 101px;
  height: 18px;
  margin-left: 69px;
}

@media (min-width: $tablet-width) {
  .page-header {
    padding-top: 42px;
    width: 768px;
    margin: 0 auto;
    padding-left: 0;
    display: flex;
  }

  .page-header__logo {
    width: 174px;
    height: 52px;
    margin-left: 30px;
  }
}


@media (min-width: $desktop-width) {
  .page-header {
    width: 1220px;
    margin: 0 auto;
    padding-top: 69px;
  }

  .page-header__logo {
    margin-left: 0;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
