 .promo__wrapper::before{
   content: "";
   position: absolute;
   width: 280px;
   height: 270px;
   background-image: url("../img/index-cat-energy.png");
   margin-top: 165px;
   margin-left: 20px;
 }
 .promo__title {
   position: absolute;
   top: 52px;
   left: 38px;
   width: 249px;
   height: 72px;
   font-family: Oswald;
   font-size: 36px;
   font-style: normal;
   font-weight: 400;
   line-height: 36px;
   letter-spacing: 0em;
   text-align: center;
   color: #FFFFFF;
  }
  .promo__slogan{
    position: absolute;
    top: 167px;
    left: 75px;
    font-family: Oswald;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
  }
