.promo {
  width: 100%;
}

.promo__wrapper {
  width: 100%;
  position: relative;


  &::before {
    content: "";
    position: absolute;
    width: 280px;
    height: 270px;
    background-image: url("../img/index-cat-energy.png");
    margin-top: 165px;
    margin-left: 20px;
  }
}

.promo__title {
  position: absolute;
  top: 52px;
  left: 38px;
  width: 77.81%;
  height: 72px;
  font-family: $Oswald;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: $white;
}

.promo__slogan {
  position: absolute;
  top: 167px;
  left: 75px;
  font-family: $Oswald;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  color: $white;
}

.promo__button {
  width: 87.5%;
  margin: 138px 20px 22px 20px;
}

@media (min-width: $tablet-width) {
  .promo {
    height: 872px;
  }

  .promo__title {
    position: static;
    font-family: $Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    color: $black;
    text-align: left;
    margin-top: 65px;
    margin-left: 15.2%;
    width: 414px;
    height: 120px;
  }

  .promo__slogan {
    position: static;
    font-family: $Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $black;
    padding-top: 0;
    margin-left: 15.2%;
  }

  .promo__wrapper::before {
    content: "";
    position: absolute;
    width: 709px;
    height: 609px;
    background-image: url("../img/index-can-tablet.png");
    background-repeat: no-repeat;
    margin-top: 211px;
    margin-left: 24px;
  }

  .promo__button {
    position: absolute;
    z-index: 2;
    width: 31.7%;
    margin-top: 49px;
    margin-left: 15.2%;
  }

  .promo__img {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    height: 669px;
  }

  .promo__title {
    padding-top: 111px;
    margin-left: 190px;
    width: 414px;
  }

  .promo__slogan {
    margin-left: 190px;
  }

  .promo__button {
    width: 244px;
    margin-left: 190px;
  }

  .promo__wrapper::before {
    content: "";
    position: absolute;
    width: 552px;
    height: 499px;
    background-image: url("../img/index-can.png");
    background-repeat: no-repeat;
    margin-top: 32px;
    margin-left: 558px;
    z-index: 1;
  }

  .promo__wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 720px;
    height: 694px;
    background-image: url("../img/index-background-desktop.jpg");
  }
}
