.purpose__item {
  width: 87.5%;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 18px;
  padding-left: 20px;
}

.purpose__item--cat {
  background-color: $white;
  margin: 10px 15px;
  padding: 0 10px;
}

.purpose__item--strong {
  margin-top: 20px;
}

.purpose__header {
  font-family: $Oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
}

.purpose__text {
  width: 81%;
  font-family: $Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

.purpose__link {
  font-family: $Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 18px;

  &::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 10px;
    background-image: url("../img/arrow.svg");
    margin-left: 31%;
  }
}

@media (min-width: $tablet-width) {
  .purpose__item {
    width: 92.18%;
    margin: 30 auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }

  .purpose__header {
    font-family: $Oswald;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 7.4%;
    grid-column: 1;
    grid-row: 1;
  }

  .purpose__text {
    width: 95%;
    font-family: $Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-left: 7.4%;
    grid-column: 1;
    grid-row: 2;
  }

  .purpose__link {
    font-family: $Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-left: 7.4%;
    margin-top: 48px;
    margin-bottom: 53px;
    grid-column: 1;
    grid-row: 3;

    &::before {
      content: "";
      position: absolute;
      width: 32px;
      height: 10px;
      background-image: url("../img/arrow.svg");
      margin-left: 17%;
      margin-top: 8px;
    }
  }
}

@media (min-width: $desktop-width) {
  .purpose {
    display: flex;
    margin-left: 110px;
  }

  .purpose__header {
    text-align: center;
    margin-top: 0;
    margin-left: 0;
  }

  .purpose__item {
    display: flex;
    justify-content: space-around;
    width: 570px;
    padding-top: 77px;
    padding-bottom: 55px;
    padding-left: 52px;
  }

  .purpose__text {
    width: 467px;
    margin-left: 0;
  }

  .purpose__link {
    margin: 0;
  }

  .purpose__link::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 10px;
    background-image: url("../img/arrow.svg");
    margin-left: 10%;
    margin-top: 8px;
  }

  .purpose__item--strong {
    margin-top: 0;
  }
}
