.section-additionally {
  width: 320px;
  margin: 0 auto;
}

.section-additionally__wrapper {
  display: flex;
  flex-direction: column;
  font-family: $Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  margin-left: 20px;
  margin-bottom: 34px;
}

.section-additionally__inputrow {
  margin-top: 13px;
}

.section-additionally__button {
  width: 280px;
  margin-left: 20px;
}

.section-additionally__span {
  display: block;
  text-align: center;
  padding-top: 21px;
  padding-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .section-additionally {
    width: $tablet-width;
    margin: 0 auto;
  }

  .section-additionally__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: $Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    padding-left: 70px;
  }

  .section-additionally__span {
    display: inline;
    margin-left: 61px;
    margin-bottom: 70px;
  }

  .section-additionally__button {
    width: 282px;
    margin-left: 70px;
    margin-bottom: 70px;
  }
}

@media (min-width: $desktop-width) {
  .section-additionally {
    width: $desktop-width;
    margin: 0 auto;
  }

  .section-additionally__wrapper {
    display: flex;
    flex-direction: row;
  }

  .section-additionally__inputrow {
    margin-right: 104px;
  }

  .section-additionally__button {
    width: 568px;
    margin-left: 110px;
    margin-bottom: 82px;
  }
}
