.section-item__paragraph {
  font-family: $Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
}

.section-item__link {
  padding: 10px 20px;
  background-color: #f2f2f2;
  font-family: $Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  & a {
    text-decoration: none;
    color: #444444;
  }
}

@media (min-width: $tablet-width) {
  .section-item__paragraph {
    font-size: 20px;
    line-height: 22px;
  }

  .section-item__text {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  .section-item__link {
    width: 248px;
    margin: 0 auto;
  }
}
