.section-form {
  padding-left: 20px;
}

.section-form__heading {
  font-family: $Oswald;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
}

.section-form__text {
  font-family: $Oswald;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
}

.section-form__wrapper-item {
  display: flex;
  flex-direction: column;
}

.section-form__wrapper {
  display: flex;
  flex-direction: column;
  font-family: $Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 49px;
}

.section-form__inputrow {
 display: inline-block;
}

.section-form__input-name {
  width: 82%;
  height: 45px;
}

.section-form__input-weight {
  width: 71%;
  height: 46px;
}

.section-form__input-age {
  width: 53%;
  height: 45px;
}

@media (min-width: $tablet-width) {
  .section-form {
    padding-left: 70px;
  }

  .section-form__wrapper {
    font-size: 20px;
    line-height: 30px;
  }

  .section-form__input-name {
    width: 567px;
    height: 52px;
  }

  .section-form__input-weight {
    width: 536px;
    height: 52px;
  }

  .section-form__input-age {
    width: 497px;
    height: 52px;
  }
}

@media (min-width: $desktop-width) {
  .section-form__wrapper-general {
    display: flex;
  }
}
