.section-card {
  width: 80%;
  margin: 0 auto;
}

.section-card__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.section-card__img {
  grid-column: 1;
  grid-row: 1 / 3;
}

.catalog-heading {
  grid-column: 2;
  grid-row: 1;
}

.section-card__text {
  grid-column: 2;
  grid-row: 2;
}

.section-card__button {
  grid-column: 1 / 3;
  grid-row: 3;
}
